---
layout: archive
classes: wide
---

<p>My name is Donald Loveland and I am a second year PhD candidate in the CSE department at University of Michigan, Ann Arbor, advised by <a href="https://gemslab.github.io">Danai Koutra</a>. My work is supported by a <a href="https://rackham.umich.edu/funding/funding-types/rackham-merit-fellowship-program/">Rackham Merit Fellowship award</a>. </p>
<h1 id="research">Research</h1>
<p>My research focuses on improving the interpretability, robustness, and fairness of graph neural networks with hopes to mitigate harmful bias and identify practical limitations of current methods.</p>
<p>Previously, I was an applied machine learning researcher at Lawrence Livermore National Lab where I broadly worked on graph deep learning applications. Some of my specific research included graph classification/regression for molecules, 
    inverse design of molecular graphs, and post-hoc insight extraction for graph neural networks (GNNs). I have also worked heavily in the computer vision space developing methods to extract actionable insights from convolution neural networks
    through generative counterfactual models.</p>
<p>Before LLNL, I worked as a software engineer at Chevron where I developed an automated API-based deployment strategy for machine learning applications to Azure.</p>
<h1 id="mentoring">Mentoring</h1>
<p>As the first member of my family to go to college, I am grateful for the opportunities I have recieved during both my academic and professional career. While I am still figuring out how to properly navigate the 
    world of academia, I have worked to make myself a resource for others who come from similar backgrounds. During my undergraduate degree, I acted as a peer mentor for younger first generation students and have 
    continued these efforts by participating in undergraduate mentoring during my graduate studies. While at Lawrence Livermore, I also helped facilitate a two week long <a href="https://www.llnl.gov/news/lockdown-doesnt-hinder-annual-data-science-challenge">machine learning challenge</a> 
    geared towards teaching students how to perform applied research. Please feel free to reach out if you ever want to chat!</p>

